#logo {
  width: 250px;
}

body {
  background-color: #282c34;
  color: #fff;
}

.body {
  margin-top: 1rem;
}

.header {
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

input {
  color: #000;
}

.header h1 {
  margin: 0;
}

.centered {
  text-align: center;
}
